<ul>

    <li><b>Reckless Attack - </b>at lvl 2, you can attack "recklessly" give you advantage on melee
        attacks, for and against you for one turn.
    </li>
    <li>Danger Sense - At lvl 2, Advantage on dexterity saving throws against effects that you
        can see. (traps, spells, ie danger) - doesn't work if you are blinded.
    </li>
    <li>Ablility Score Improvement - at lvl 4, 8, 12, 16, 19. You add 1 to an two ability scores.
    </li>
    <li>Extra Attack - at lvl 5, you can attack twice in one turn.</li>
    <li>Fast Movement - at lvl 7, +10 to your speed. (While not wearing heavy armor)</li>
    <li>Feral Instinct - at lvl 7, advantage on initiative rolls and can't be surprised.</li>
    <li>Brutal Critical - at lvl 9, roll one more weapon damage die for critical hits. Increases at lvl
        13 and 17
    </li>
    <li>more...</li>
</ul>