<!--suppress ALL -->
<div class="characterCreate">
    <H1>Dnd Character Creator - 5 Edition</H1>

    <h4>Tool to help create a and manage a dnd character.</h4>
    <p>This tool is intended to help beginners create their first character and walk people through the process of
        character
        creation.</p>

    <p>The #1 rule for dnd is to create something that you can be excited about and have fun playing, not to make the
        mose
        over-powered character you can create. After all - the goal of the game is to have fun, not to gain advantages
        over
        your team mates.</p>

    <p>Choose your class first. This will help decide your characters race. I choose to do this step first because a
        characters class is a bigger deciding factor to the style of play your character will follow.</p>
    <p>Class list:</p>
    <ul>
        <li>Barbarian - Run at people</li>
        <li>Bard - Supports people with song</li>
        <li>Cleric - Healer from diety</li>
        <li>Druid - Tree Hugger/Zoo Summoner</li>
        <li>Fighter - Average Soldier with average skills</li>
        <li>Monk - Martial arts/Spiritual person</li>
        <li>Paladin - Death to all Evil</li>
        <li>Ranger - Robin hood (shoot at people)</li>
        <li>Rogue - Criminal, basic fiend</li>
        <li>Sorcerer - Magic from bloodline</li>
        <li>Warlock - Magic from deity</li>
        <li>Wizard - Magic from books</li>
    </ul>
    <div>
        <br/>
        <span>
            <b>Character class - </b>
            <select ng-model="vm.characterClass">
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option>Cleric</option>
            <option>Druid</option>
            <option>Fighter</option>
            <option>Monk</option>
            <option>Paladin</option>
            <option>Ranger</option>
            <option>Rogue</option>
            <option>Sorcerer</option>
            <option>Warlock</option>
            <option>Wizard</option>
        </select>
        </span>

        <div ng-if="vm.character">
            <p><b>Base health: </b>{{vm.character.health}}</p>
            <p><b>Health dice: </b>{{vm.character.healthRecovery}} - (sleep regen roll)</p>
            <p><b>Armor: </b>{{vm.character.armor}}</p>
            <p><b>Weapons: </b>{{vm.character.weapons}}</p>
        </div>

        <div ng-if="vm.characterClass">
            <p>Order your base skill priority. <b>Character skill priorities: </b>
                #1 <u>{{vm.character.statPriorityOne}}</u>,
                #2 <u>{{vm.character.statPriorityTwo}}</u></p>
            <ul dnd-list="vm.models.lists.A">
                <li ng-repeat="item in vm.models.lists.A"
                    dnd-draggable="item"
                    dnd-moved="vm.models.lists.A.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="vm.models.selected = item"
                    ng-class="{'selected': vm.models.selected === item}">
                    {{item.label}}
                </li>
            </ul>

            <h4>Class Features</h4>
            <ul ng-if="vm.characterClass == 'Barbarian'">
                <li><b>Rage - </b>like the hulk. You can get mad on your turn. Can't Rage if you have heavy armor.
                    The following applies:
                    <ul>
                        <li>Advantage on strength checks and saving throws.</li>
                        <li>When you attack(melee), you get bonus damage (increases with barbarian level)</li>
                        <li>Resistance to bludgeoning, piercing, and slash damage.</li>
                        <li>Can't cast spells</li>
                        <li>Rage lasts for 1 minute. Ends early if you are knocked out, or can't attack anything.
                        </li>
                        <li>Can only rage once until you rest at lvl 1.</li>
                    </ul>
                </li>
                <li><b>Unarmored Defense - </b>while you aren't wearing armor, your AC(armor class) is 10 +
                    dexterity
                    modifier + constitution modifier. (shields are ok)
                </li>
            </ul>
            <ul ng-if="vm.characterClass == 'Bard'">
                <li><b>Spell replace - </b>When you level up, you can replace a spell you have with one from the
                    Bard spell list up to your max level.
                </li>
                <li><b>Spellcasting Ability - </b>Uses charisma.</li>
                <li><b>Ritual Casting - </b>Any bard spell you know can be cast as a ritual.</li>
                <li><b>Spellcasting Focus - </b>Use a musical instrument for spellcasting focus for bard spells.
                </li>
                <li><b>Bardic Inspiration - </b>Use this on a teammate to "inspire" them. They get a + 1d6 to use
                    for any ability check within the next 10 minutes. (can use it after you roll the 1d20). You can
                    use this at max 1 or your chrisma modifier.
                </li>
            </ul>
            <ul ng-if="vm.characterClass == 'Cleric'">
                <li>Use Wisdom modifier for Spells</li>
                <li><b>Ritual Casting - </b> Cast a cleric spell as a ritual if prepared and spell has ritual tag.</li>
                <li>
                    <ul>
                        <li ng-repeat="subclass in vm.character.subClasses track by $index">{{subclass}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
